<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>SheepDivide</title>

    <link rel="stylesheet" href="C:\Users\Jakob\IdeaProjects\Spring Projects\sheepdivide\src\main\resources\static\style.css" type="text/css" media="screen">
</head>

<body>

<div class="wrapper">

    <nav>
        <div id="logo">SheepDivide</div>

    </nav>

    <h1>Velkommen til </br>SheepDivide webapp</h1>
    <h3>En webapp, der gør det lettere og mere overskueligt for landmændene,</br> at administrere og opdele deres får ift. slagtning</h3>

    <div class="login">
        <div class="login-screen">

            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Brugernavn" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <a class="btn btn-primary btn-large btn-block" href="file:///C:/Users/jakob/Desktop/Datamatiker/2.%20Semester/EksamensProjekt/Kode/SheepDivide/home.html">Login</a>
            </div>
        </div>
    </div>

</div>
</body>

</html>



